@model CoreLayer.DTOs.Posts.PostFilterDto
@using CoreLayer.Utilities

@{
    ViewData["Title"] = "Posts";
    int counter = 1;
    ViewData["Selected"] = "post";
}

<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
</section>

<section class="content">
    <div class="box box-danger">
        <div class="box-body">
            <form>
                <div class="box-header">
                    <button type="submit" class="btn btn-info pull-left">Filter </button>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input class="form-control" type="text" value="@Model.FilterParams.Title" placeholder="Title" name="title" />
                    </div>
                    <div class="col-md-6 form-group">
                        <input class="form-control" type="text" value="@Model.FilterParams.CategorySlug" placeholder="Slug Category" name="categorySlug" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <a class="btn btn-outline-success" asp-area="Admin" asp-controller="Post" asp-action="Add">Add New</a>
    <div class="box box-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Group</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td>@counter</td>
                        <td>
                            <img style="max-width: 150px;" src="@Directories.GetPostImage(item.Image)"/>
                        </td>
                        <td>@item.Title</td>
                        <td>@item.Slug</td>
                        <td>  
                            @item.Category.Title
                        </td>
                        <td>
                            <a asp-area="Admin" asp-controller="Post" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">Edit</a>
                        </td>
                    </tr>

                    counter++;
                }
            </tbody>
        </table>
        @if (Model.PageCount > 1)
        {
            <div class="box-footer">
                <div style="padding:10px">
                    <ul class="pagination" style="display: inline-block">
                        @if (Model.FilterParams.PageId > 1)
                        {
                            <li class="paginate_button previous">
                                <a onclick="changePage(@(Model.FilterParams.PageId-1))" href="#">قبلی</a>
                            </li>
                        }
                        else
                        {

                            <li class="paginate_button previous disabled">
                                <a href="#">قبلی</a>
                            </li>
                        }

                        @for (var i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="paginate_button @(i == Model.FilterParams.PageId ? "active" : null)">
                                <a onclick="changePage(@i)" href="javascript:void(0)">@i</a>
                            </li>
                        }
                        @if (Model.PageCount > Model.FilterParams.PageId)
                        {
                            <li class="paginate_button next">
                                <a onclick="changePage(@(Model.FilterParams.PageId+1))" href="#">بعدی</a>
                            </li>
                        }
                        else
                        {
                            <li class="paginate_button next disabled">
                                <a href="javascript:void(0)">بعدی</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</section>