@model CoreLayer.DTOs.Posts.PostFilterDto
@using CoreLayer.Utilities

@{
    ViewData["Title"] = "Posts";
    int counter = 1;
    ViewData["Selected"] = "post";
}

<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
</section>

<section>
    <a class="btn btn-outline-success" asp-area="Admin" asp-controller="Post" asp-action="Add">Add New</a>
    <div class="box box-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Group</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td>@counter</td>
                        <td>
                            <img style="max-width: 150px;" src="@Directories.GetPostImage(item.Image)"/>
                        </td>
                        <td>@item.Title</td>
                        <td>@item.Slug</td>
                        <td>  
                            @item.Category.Title
                        </td>
                        <td>
                            <a asp-area="Admin" asp-controller="Post" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">Edit</a>
                        </td>
                    </tr>

                    counter++;
                }
            </tbody>
        </table>
    </div>
</section>